<%- include ('../layouts/header.ejs') %>

    <form action="/forget" method="post" class="my-auto" style="height: 90vh;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card bg-secondary" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class=" row justify-content-center">
                                <div class=" col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 " style="color: aliceblue;">
                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">ForgetPassword</p>
                                    <hr>


                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline d-flex mb-0 ">
                                                <label class="form-label" for="form3Example3c"> 
                                                    &nbsp; &nbsp; Enter your mobile no &nbsp; &nbsp;</label>
                                                <input style="width: 150px;height: 40px;" type="text" id="otp"
                                                    class="form-control" name="phone" />
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="d-flex ">
                                            <div style="display: flex;justify-content:center">
                                                &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;

                                                <button type="submit" class="btn btn-primary btn-md"
                                                    id="but" >send OTP</button>
                                            </div>
                                        </div>
                                        <label class="form-label">by procceding an OTP will be sent to your preffered mobile no.</label>

                                        <span style="color:red;"><% if(typeof message !=='undefined' ){ %>
                                            <h4>
                                                <%= message %>
                                            </h4>
                                            <% } %></span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>

    <%- include ('../layouts/footer.ejs') %>